aws_access_key = ""
aws_secret_key = ""
aws_region = ""

availability_zone_a = ""
availability_zone_b = ""

bastion_ip = ""

key_name = ""

database_name = ""
database_user = ""
database_password = ""

ssl_certificate_arn = ""
