#!/bin/bash

yum install git -y
yum install docker -y

git clone https://github.com/asabitov/dt.git
cd dt/app

systemctl start docker
systemctl enable docker

docker build -t app .

docker run -d -p 80:5000 app

